@import 'tailwindcss';

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-white);
    background-color: var(--color-gray-800);
  }
}

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@layer base {
  article {
    max-width: none!important;
  }
  button {
    @apply bg-gray-500 hover:bg-gray-600 text-white rounded px-3 py-1.5;
  }
  input, select, textarea {
    display: block;
    width: 100%;
    font-weight: 400;
    @apply dark:text-black
  }
  label {
    font-weight: 600;
    display: block;
  }
  table {
    font-size: var(--text-sm);
    border-collapse: collapse;
    caption-side: bottom;
    table-layout: auto;
    text-align: left;
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
    max-width: none;
  }
  th {
    white-space: nowrap;
  }
  td,th {
    padding: 4px;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: var(--container-5xl);
}

@utility invalid {
  color: var(--color-red-500);
}